# Visual Studio and .NET Build Artifacts
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# Builds and exported artifacts
builds/
*.zip

# OS Generated
Thumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
.DS_Store
